/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

body {
  margin: 0;
  font-family: 'Dosis', 'Rubik Distressed', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(67, 100, 172, 0.432);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.5rem;
}

.App {
  content: '';
  background: url(./assets/sky.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
}

h1 {
  font-size: 3rem;
  /* align-self: stretch; */
}
